# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Node modules
node_modules/

# Build output
dist/
dist-ssr/

# Local env files
.env
.env.*.local
*.local

# Firebase files (if used)
.firebase/
firebase-debug.log
firebase-error.log

# Editor directories and files
.vscode/
!.vscode/extensions.json
.idea/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
